<div class="container">
  <img style="height:150px; width:auto;" class="center" src="assets/images/home.JPG"> 
  <h1 style="font-size: 35px;" align="center">Manage and participate in events on Lublin University of Technology </h1>
  <h2 style="margin-top: 40px; font-weight: normal;" align="center">Save your time and create event on our platform </h2>
  <h2 style="margin-top: -15px; font-weight: normal;" align="center">If you are student, let's look over events on our university </h2>
  <div align="center">
    <button 
    class="button"
    type="button"
    routerLink="/login"
  >
    Login
  </button>
  <button
  style="margin-left: 50px;"
  class="button"
  type="button"
  routerLink="/register"
>
  Sign up
</button>
  </div>  

</div>
